@import "tailwindcss";

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
}
/* body {
  overflow-x: hidden;
} */
.active {
  color: #a17f4a;
}
.animated-bg {
  --color-3: #ebd8bc;
  --color-1: #debe99;
  --color-2: #eabb75;
  --color-4: #deba90;

  animation: backgroundAnimation 6s ease-in-out infinite;
}

@keyframes backgroundAnimation {
  0% {
    background-color: var(--color-1);
  }
  25% {
    background-color: var(--color-2);
  }
  50% {
    background-color: var(--color-3);
  }
  75% {
    background-color: var(--color-4);
  }
  100% {
    background-color: var(--color-1);
  }
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Unbounded;
  transition: all 0.3s ease;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1.6s linear infinite;
}

.animation-delay-200 {
  animation-delay: 0.2s;
}

.animation-delay-400 {
  animation-delay: 0.4s;
}
