@import "tailwindcss";

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
}
/* body {
  overflow-x: hidden;
} */
.active {
  color: #c5a53b;
}
.animated-bg {
  --color-3: rgb(2, 54, 14);
  --color-1: rgb(3, 46, 13);
  --color-2: rgb(3, 42, 12);
  --color-4: rgb(2, 37, 10);

  animation: backgroundAnimation 6s ease-in-out infinite;
}

@keyframes backgroundAnimation {
  0% {
    background-color: var(--color-1);
  }
  25% {
    background-color: var(--color-2);
  }
  50% {
    background-color: var(--color-3);
  }
  75% {
    background-color: var(--color-4);
  }
  100% {
    background-color: var(--color-1);
  }
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Unbounded;
  transition: all 0.3s ease;
}
body{
  background-color: rgb(2, 37, 10);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1.6s linear infinite;
}

.animation-delay-200 {
  animation-delay: 0.2s;
}

.animation-delay-400 {
  animation-delay: 0.4s;
}
.title{
  color:blueviolet;
  color: darkgrey;
  color:darkgoldenrod;
  color: rgba(203, 158, 25, 0.675);
}